div.home_categories{margin-bottom: 5px}
div.home_categories .cr{clear: both;border: 0px none}div.home_categories ul{text-align:center;list-style:none}
div.home_categories img{width:100px;height:100px}
div.home_categories li{float:left;margin:5px;width:100px;height:130px;}
div.home_categories h5 a:hover{text-decoration:underline;color:#444}
div.home_categories div{width:100px;border:1px outset black}
div.home_categories div:hover{border:1px inset black}

