<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>prestablog</name>
            <displayName><![CDATA[PrestaBlog]]></displayName>
            <version><![CDATA[3.4]]></version>
            <description><![CDATA[M&oacute;dulo blog en tu tienda virtual]]></description>
            <author><![CDATA[HDClic]]></author>
            <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall>¿ Usted quiere eliminar este módulo?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>