<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>beezup</name>
            <displayName><![CDATA[BeezUP]]></displayName>
            <version><![CDATA[3.6.1]]></version>
            <description><![CDATA[Beezup export module for Prestashop]]></description>
            <author><![CDATA[BeezUp]]></author>
            <tab><![CDATA[smart_shopping]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>